{
  "extends": ["eslint:recommended"],
  "env": {
    "es2016": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "semi": ["error", "never"],
    "quotes": ["error", "double", { "allowTemplateLiterals": true }],
    "no-inner-declarations" : "off"
  }
}
