{
  "extends": ["eslint:recommended"],
  "env": {
    "es2022": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "semi": ["error", "never"],
    "quotes": ["error", "double", { "allowTemplateLiterals": true }],
    "no-inner-declarations" : "off",
		"no-console": ["error", { "allow": ["warn", "error"] }],
		"comma-dangle": ["error", {
			"arrays": "always-multiline",
			"objects": "always-multiline",
			"imports": "always-multiline",
			"exports": "always-multiline",
			"functions": "only-multiline"
	}]
  }
}
